In [1]:
from Predict import Predict

In [2]:
p = Predict()

In [3]:
p.predict('IMG_20181102_191258.jpg')

                       CLASS     OUTPUT
75                  POLPETTE  57.872940
54         PAPPA AL POMODORO  13.419779
121           ZUPPA DI PESCE   8.158633
1            ALETTE DI POLLO   3.019704
23            COSCE DI POLLO   1.469256
22         CONIGLIO AL FORNO   1.416487
17             CARNE ARROSTO   1.356176
56   PARMIGIANA DI MELANZANE   1.011556
45         MELANZANE RIPIENE   0.915031
68            PESCE AL FORNO   0.864452